PGHOST=localhost
PGPORT=5432
PGDATABASE=fair_lending_lab
PGUSER=flab_app
PGPASSWORD=replace_me
FLAB_API_HOST=127.0.0.1
FLAB_API_PORT=8702
FLAB_DATA_DIR=./data
FLAB_RANDOM_SEED=20260625
FLAB_LOG_LEVEL=INFO
FLAB_HMDA_YEAR=2023
FLAB_HMDA_STATE=MA
FLAB_CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://127.0.0.1:3000,http://127.0.0.1:3001,https://fair-lending.scottcampbell.io
